{% set borderStyle = '1px solid black' %}
{% set borderPadding = '5px' %}

h1 {
    color: {{ h1color }};
}

.floatLeft {
    float: left;
}

.userContent>form {
    text-align: center;
}

#gameFieldWrapper, #gameFillerWrapper {
    margin: auto;
    display: inline-block;
}

.mainCol:nth-child(1), .mainCol:nth-child(2) {
    padding-right: 5px;
    border-right: 1px solid black;
}

.mainCol:nth-child(2), .mainCol:nth-child(3) {
    padding-left: 5px;
}

.mainRow:nth-child(2)>.mainCol, .mainRow:nth-child(3)>.mainCol {
    padding-top: 5px;
}

.mainRow:nth-child(1)>.mainCol, .mainRow:nth-child(2)>.mainCol {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.gameFieldBorderBottom {
    border-bottom: {{ borderStyle }};
    padding-bottom: {{ borderPadding }};
}
.gameFieldBorderRight {
    border-right: {{ borderStyle }};
    padding-right: {{ borderPadding }};
}
.gameFieldBorderNeighborBottom {
    padding-top: {{ borderPadding }};
}
.gameFieldBorderNeighborRight {
    padding-left: {{ borderPadding }};
}

#fos_user_registration_form label, .loginFormLabel {
    margin-bottom: 0;
    margin-top: 5px;
    width: 130px;
}

.menuButton {
    display: block;
    margin: 7px auto;
}

.impressLink {
    border-top: 1px solid black;
}

.navBarWrapper {
    text-align: center;
}

/* Änderung an bootstrap Eigenschaften */
.container {
    padding-top: 15px;
    max-width: 900px;
}

h1 {
    font-size: 45px;
    text-align: center;
}

h3, h4 {
    text-align: center;
}

h1>img {
    height: 25px;
    width: 25px;
}

.modal-dialog {
    margin-top: 10%;
}

.modal-content {
    min-height: 250px;
    padding-bottom: 20px;
}

.nav-tabs,.nav-tabs>li>a {
    border-bottom: none;
}

#menuButton {
    padding: 5px 10px;
}

#xsNavMenu .dropdown-menu {
    padding: 0;
}

.icon-bar{
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    background-color: #FFFFFF;
    margin: 5px 0px;
}

#checkPanel {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.panel-body {
    text-align: justify;
}

/* additional configurations for extra small devices (tested on SGSII) */
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 22px;
    }


    h1>img {
        height: 18px;
        width: 18px;
    }
}