{% extends '@BAProjectSudoku/project.html.twig' %}

{% block content %}
    {% include '@BAProjectSudoku/modules/title.html.twig' with {'titleText': 'basic.error.title'|trans} %}

    <div class="panel panel-danger">

        <div class="panel-heading">
            <h3>{{ 'basic.error.headline'|trans }}</h3>
        </div>
        <div class="panel-body">
            <p>{{ 'basic.error.content'|trans }}</p>
        </div>
    </div>
{% endblock %}

