{% extends '@BAProjectSudoku/project.html.twig' %}

{% block content %}
{% include '@BAProjectSudoku/modules/title.html.twig' with {'titleText': 'basic.landing.headline'|trans} %}

<div class="panel panel-primary">

    <div class="panel-body">
        <h3>{{ 'basic.landing.welcome.title'|trans }}</h3>

        <p>{{ is_granted('ROLE_USER') ?
            'basic.landing.welcome.content_auth'|trans :
            'basic.landing.welcome.content_ano'|trans}}</p>
    </div>
    <div class="panel-footer">
    {% if not is_granted('ROLE_USER') %}
        <a href="{{ path('menu') }}">&raquo; {{ 'basic.landing.welcome.footer.linkTextAuth'|trans }}</a>
    {% else %}
        <a href="{{ path('menu') }}">&raquo; {{ 'basic.landing.welcome.footer.linkTextAno'|trans }}</a>
    {% endif %}
    </div>
</div>

{% set collapseGroupName = 'loginChooser' %}
{% set registerPanelContent %}
    {% include '@FOSUser/Registration/register.html.twig' %}
{% endset %}
{% set loginPanelContent %}
    {% include '@BAProjectSudoku/modules/loginpanel.html.twig' %}
{% endset %}
<div class="panel-group"
     id="{{ collapseGroupName }}"
     role="tablist"
     aria-multiselectable="true">

    {% include '@BAProjectSudoku/modules/collapseBlock.html.twig'
        with {  'collapseBlockName': 'loginPanel',
            'collapseGroupName': collapseGroupName,
            'collapseHeaderContent': is_granted('ROLE_USER')
                ? 'basic.landing.login.title_auth'|trans
                : 'basic.landing.login.title_ano'|trans,
            'collapseContent': loginPanelContent,
            'collapsed': false
    } %}


    {% if not is_granted('ROLE_USER') %}
        {% include '@BAProjectSudoku/modules/collapseBlock.html.twig'
            with {  'collapseBlockName': 'registerPanel',
                'collapseGroupName': collapseGroupName,
                'collapseHeaderContent': 'basic.landing.register.title'|trans,
                'collapseContent': registerPanelContent,
                'collapsed': true
        } %}
    {% endif %}

</div>
{% endblock %}

