{% extends '@BAProjectSudoku/project.html.twig' %}

{% block content %}

    {% include '@BAProjectSudoku/modules/title.html.twig' with {'titleText': 'basic.menu.title'|trans } %}

    <div class="col-xs-1 col-sm-3 col-md-4"></div>
    <div class="panel panel-primary col-xs-10 col-sm-6 col-md-4">
        <div class="panel-body">
            <div>
                {% if is_granted('ROLE_USER') and bUserHasLastGame == true %}
                    {% set buttons = ['new', 'load', 'score'] %}
                {% else %}
                    {% set buttons = ['new', 'score'] %}
                {% endif %}

                {% for button in buttons %}
                    {% set langPath = 'basic.menu.buttons.'~button %}

                    {% if button == 'new' %}
                        <a type="button"
                                class="btn btn-primary btn-lg menuButton"
                                data-toggle="modal"
                                data-target="#diffChooserBox">

                            {{ langPath|trans }}
                        </a>

                        <div id="diffChooserBox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    {% include '@BAProjectSudoku/Game/chooseDifficulty.html.twig' %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ path(button, {'_locale': app.request.getLocale()}) }}"
                           class="btn btn-primary btn-lg menuButton">{{ langPath|trans }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-4"></div>

{% endblock %}