{% extends '@BAProjectSudoku/project.html.twig' %}

{% block content %}
    {% include '@BAProjectSudoku/modules/title.html.twig' with {'titleText': 'basic.landing.headline'|trans} %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}

{% endblock %}