{% extends '::base.html.twig' %}

{% block title %}
    {{ projectName }}
{% endblock title %}

{% block header %}
    {% include '@BAProjectSudoku/modules/links.html.twig' %}
{% endblock header %}

{% block userbody %}

    <div class="userContent">
    {% block content %}{% endblock content %}

        <div class="clearfix"></div>
    </div>
{% endblock userbody %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='static/css/sudoku.css'
    '@BAProjectSudokuBundle/Resources/public/css/bootstrap-theme.min.css'
    '@BAProjectSudokuBundle/Resources/public/css/bootstrap.min.css'
    '@BAProjectSudokuBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style type="text/css">
        {{ render(controller('BAProjectSudokuBundle:Style:default', {'_format':'css'})) }}
    </style>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@BAProjectSudokuBundle/Resources/public/js/jquery-2.1.1.min.js'
    '@BAProjectSudokuBundle/Resources/public/js/*' output='static/js/sudoku.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}