{% if not is_granted('ROLE_USER') %}

<div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="{{ collapseBlockName }}Header">
        <h4 class="panel-title">
            <a data-toggle="collapse"
               data-parent="#{{ collapseGroupName }}"
               href="#{{ collapseBlockName }}"
                {% if not collapsed %}
                    aria-expanded="true"
                {% else %}
                    class="collapsed"
                    aria-expanded="false"
                {% endif %}
               aria-controls="{{ collapseBlockName }}">
                <div>{{ collapseHeaderContent }}</div>
            </a>
        </h4>
    </div>
    <div id="{{ collapseBlockName }}"
         {% if not collapsed %}
             class="panel-collapse collapse in"
             aria-expanded="true"
         {% else %}
             class="panel-collapse collapse"
             aria-expanded="false"
         {% endif %}
         role="tabpanel"
         aria-labelledby="{{ collapseBlockName }}Header">
        <div class="panel-body">
            {{ collapseContent }}
        </div>
    </div>
</div>
{% else %}
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="{{ collapseBlockName }}Header">
            <h4 class="panel-title">
                <div>{{ collapseHeaderContent }}</div>
            </h4>
        </div>
        <div id="{{ collapseBlockName }}"
                class="panel-collapse collapse in">
            <div class="panel-body">
                {{ collapseContent }}
            </div>
        </div>
    </div>
{% endif %}