{% set setLang = app.request.get('_locale') %}
{% set setRoute = app.request.get('_route') %}
{# available languages [langcode : langtext] #}
{% set availableLangs = {
        'de':'Deutsch',
        'en':'English'
    }
%}


<a class="btn btn-lg btn-default hidden-md hidden-lg"
   href="{{ path(setRoute, {'_locale': setLang == 'de' ? 'en' : 'de'}) }}">
    » {{ setLang == 'de' ? 'English' : 'Deutsch' }}
</a>

<div class="btn-group hidden-xs hidden-sm">
{% for langCode, langText in availableLangs %}

    <a class="btn {{ setLang == langCode ? 'btn-success active' : 'btn-default' }}"
       href="{{ path(setRoute, {'_locale': langCode}) }}">
        {{ langText }}
    </a>

{% endfor %}
</div>