{# Array of links: [path, access(pub|user|admin), show(0|1)], pathname #}
{% set linkList = [
    ['landing', 'pub', 1, 'landing'],
    ['menu', 'pub', 1, 'menu'],
    ['score', 'pub', 1, 'score'],
    ['impress', 'pub', 1, 'impress'],
] %}

{# Navbar for md and lg devices #}
<div class="navBarWrapper hidden-xs hidden-sm">
    <div class="btn-group" role="group" aria-label="navBar">
    {% for link in linkList %}
        {% set message = 'navi.linkTexts.' ~ link.0 %}
        <a class="btn btn-lg btn-default"
           href="{{ path(link.3, {'_locale': app.request.getLocale()}) }}">
            {{ message|trans }}
        </a>
    {% endfor %}
    </div>
    {% include '@BAProjectSudoku/modules/langswitcher.html.twig' %}
</div>

{# Navmenu for sm and xs devices #}
<div class="visible-xs visible-sm">
    <ul id="xsNavMenu" class="nav nav-tabs">
        <li role="presentation" class="dropdown">
            <button class="dropdown-toggle btn btn-primary btn-lg" id="menuButton" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    {% include '@BAProjectSudoku/modules/langswitcher.html.twig' %}
                    {% for link in linkList %}
                        {% set message = 'navi.linkTexts.' ~ link.0 %}
                        <a class="btn btn-lg btn-default"
                           href="{{ path(link.3, {'_locale': app.request.getLocale()}) }}">
                            {{ message|trans }}
                        </a>
                    {% endfor %}
                </li>
            </ul>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
