<h1>
    {% image '@BAProjectSudokuBundle/Resources/public/img/logo.png' %}
        <img src="{{ asset_url }}" alt="Sudoku logo" />
    {% endimage %}
    Sudoku
    <small>{{ titleText }}</small></h1>