{#{% extends '@BAProjectSudoku/project.html.twig' %}#}

{#{% block content %}#}

    {#{% include '@BAProjectSudoku/modules/title.html.twig' with {'titleText': 'game.diffchooser.headline'|trans } %}#}
{#{% endblock %}#}

{# New DiffChooser for Modal #}

<h3>{{ 'basic.menu.modal.headline'|trans }}</h3>
<h4>{{ 'basic.menu.modal.headText'|trans }}</h4>

<div class="col-xs-1 col-sm-4"></div>
<div class="col-xs-10 col-sm-4">
    {% set diffs = ['easy', 'normal', 'hard'] %}
    {% set choosenDiff = 1 %}

    {% for diff in diffs %}
        {% set langPath = 'basic.menu.modal.diffs.'~diff %}
        {% if choosenDiff == 1 %}
            {% set buttonColorClass = 'btn-success' %}
        {% elseif choosenDiff == 2 %}
            {% set buttonColorClass = 'btn-warning' %}
        {% elseif choosenDiff == 3 %}
            {% set buttonColorClass = 'btn-danger disabled' %}
        {% endif %}

        <a  type="button"
            class="btn {{ buttonColorClass }} btn-lg menuButton"
            href="{{ path('new', {'_locale': app.request.getLocale(), 'diff': choosenDiff}) }}"    >

            {{ langPath|trans }}
            {% set choosenDiff = choosenDiff+1 %}
        </a>

    {% endfor %}
</div>
<div class="col-xs-1 col-sm-4"></div>
<div class="clearfix"></div>