{% extends '@BAProjectSudoku/project.html.twig' %}

{% block content %}

    {% include '@BAProjectSudoku/modules/title.html.twig' with {'titleText': 'game.game.headline'|trans } %}

    {% if message != null and message in ['error', 'loaded', 'success'] %}
        {% if message == 'error' %}
            {% set panelType = 'panel-danger' %}
            {% set sHeading = 'game.game.statusPanel.error.heading'|trans %}
            {% set sBody = 'game.game.statusPanel.error.body'|trans %}
        {% elseif message == 'success' %}
            {% set panelType = 'panel-success' %}
            {% set sHeading = 'game.game.statusPanel.success.heading'|trans %}
            {% set sBody = 'game.game.statusPanel.success.body'|trans %}
        {% elseif message == 'loaded' %}
            {% set panelType = 'panel-warning' %}
            {% set sHeading = 'game.game.statusPanel.loaded.heading'|trans %}
            {% set sBody = 'game.game.statusPanel.loaded.body'|trans %}
        {% endif %}

        <div class="panel {{ panelType }}">
            <div class="panel-heading">
                {{ sHeading }}
            </div>
            <div class="panel-body">
                {{ sBody }}
            </div>
        </div>
    {% endif %}

<form>
    <input id="aInserted" type="hidden" name="ainserted" value="{{ aInserted|json_encode }}" />
    <input id="aOriginal" type="hidden" name="aoriginal" value="{{ aOriginal|json_encode }}" />
    <div id="gameFieldWrapper" data-savepath="{{ path('save') }}/">
        {% for mainRow in 1..3 %}
            <div class="mainRow">
            {% for mainCol in 1..3 %}
                <div class="floatLeft mainCol">
                    {% for row in 1..3 %}
                        <div class="specRow">
                            {% for col in 1..3 %}
                                {% if (mainCol+mainRow) is even %}
                                    {% set buttonColorClass = 'btn-info' %}
                                {% else %}
                                    {% set buttonColorClass = 'btn-primary' %}
                                {% endif %}

                                {% set currentRow = (3*(mainRow-1)+(row-1)) %}
                                {% set currentCol = (3*(mainCol-1)+(col-1)) %}

                                {% set PositionTags = "data-row="~currentRow~" data-col="~currentCol %}

                                {% set originalValue = aOriginal[currentRow][currentCol] %}
                                {% set currentValue = aInserted[currentRow][currentCol] %}

                                {% if originalValue == 0 %}
                                    {% set disableClass = ' emptyField' %}
                                {% else %}
                                    {% set disableClass = ' disabled' %}
                                {% endif %}

                                {# for xs-devices #}
                                <input type="button" {{ PositionTags }}
                                        onclick="chooseValue(this)"
                                        class=" floatLeft btn {{ buttonColorClass }}
                                                btn-sm visible-xs cellButton {{ disableClass }}"
                                        value="
                                    {{ currentValue == 0 ? '+' : currentValue }}"
                                />

                                {#for other devices#}
                                <input type="button" {{ PositionTags }}
                                        onclick="chooseValue(this)"
                                        class=" floatLeft btn {{ buttonColorClass }}
                                                btn-lg hidden-xs cellButton {{ disableClass }}"
                                        value="
                                    {{ currentValue == 0 ? '+' : currentValue }}"
                                />
                                {% if loop.last %}<div class="clearfix"></div>{% endif %}

                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="clearfix"></div>
            </div>
        {% endfor %}
    </div>

    <div id='gameFillerWrapper'
         class="panel panel-default hide"
         data-selectedrow="0"
         data-selectedcol="0"
         aria-label="Buttonbar">
        <div class="gameFillerLabel panel-heading">{{ 'game.game.chooseNumber'|trans }}:</div>
        <div class="btn-group btn-group-sm gameFillerButtonGroup panel-body" role="group">
            {% for i in 1..9 %}
                <button type="button" onclick="setNumber(this)" class="btn btn-default">{{ i }}</button>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
    </div>

</form>


<div class="panel panel-primary" id="checkPanel">
    <div class="panel-body">
        {{ 'game.game.check.text'|trans }}
    </div>
    <div class="panel-footer">
        <a href="{{ path('check', {'_locale': app.request.getLocale()}) }}" class="">
            » {{ 'game.game.check.linkText'|trans }}
        </a>
    </div>
</div>

{% endblock %}
    {#<div id="gameFieldWrapper">#}
        {#<form>#}
            {#<input id="oGameFieldData" type="hidden" name="ogamefielddata" value="{{ oGameField|json_encode }}" />#}
            {#{% for i in 1..9 %}#}
                {#{% include '@BAProjectSudoku/Game/elements/gameFieldRow.html.twig' with {'rowNumber': i, 'rowData': oGameField[i-1]} %}#}
                {#<div class="clearfix"></div>#}
            {#{% endfor %}#}
        {#</form>#}
    {#</div>#}

    {#<div class="clearfix"></div>#}

