{% extends '@BAProjectSudoku/project.html.twig' %}

{% block content %}

    {% include '@BAProjectSudoku/modules/title.html.twig' with {'titleText': 'game.score.headline'|trans } %}

    {% if not is_granted('ROLE_USER') %}

        <div class="panel panel-primary">
            <div class="panel-body">
                <p>{{ 'game.score.notLoggedIn.content'|trans }}</p>
            </div>
            <div class="panel-footer">
                <a href="{{ path('landing', {'_locale': app.request.locale() }) }}">
                    » {{ 'game.score.notLoggedIn.linkText'|trans }}
                </a>
            </div>
        </div>

    {% else %}

        {% if message != null and message == 'success' %}
            {% set panelType = 'panel-success' %}
            {% set sHeading = 'game.game.statusPanel.success.heading'|trans %}
            {% set sBody = 'game.game.statusPanel.success.body'|trans %}

            <div class="panel {{ panelType }}">
                <div class="panel-heading">
                    {{ sHeading }}
                </div>
                <div class="panel-body">
                    {{ sBody }}
                </div>
            </div>
        {% endif %}

        {% set diffText = { 1: 'basic.menu.modal.diffs.easy'|trans,
                            2: 'basic.menu.modal.diffs.normal'|trans,
                            3: 'basic.menu.modal.diffs.hard'|trans,
                            } %}

        <div class="panel-group">
            {% for diff, results in aResults %}

                {% set number = 1 %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>{{ 'game.score.loggedIn.diff'|trans }}: <strong>{{ diffText[diff] }}</strong></h4>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th> # </th>
                                <th>{{ 'game.score.loggedIn.table.date'|trans }}</th>
                                <th>{{ 'game.score.loggedIn.table.time'|trans }}</th>
                            </tr>
                            {% for result in results %}
                                <tr>
                                    <td>{{ number }}</td>
                                    <td>{{ result.date.day }}.{{ result.date.month }}.{{ result.date.year }}</td>
                                    <td>{{ result.mins }}:{{ result.secs }}</td>
                                </tr>
                                {% set number = number + 1 %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}

