<div class="gameFieldRow">
    {% for i in 1..9 %}
        {% include '@BAProjectSudoku/Game/elements/gameFieldCell.html.twig' with {'setNumber': rowData[i-1],'position': [rowNumber-1, i-1] } %}
    {% endfor %}
    <div class="clearfix"></div>
</div>