{% set gameFieldCellClasses = 'gameFieldCell' %}

{% set borderClass = '' %}

{% if position[0] in [2,5] %}
    {% set borderClass = borderClass ~ ' gameFieldBorderBottom' %}
{% elseif position[0] in [3,6] %}
    {% set borderClass = borderClass ~ ' gameFieldBorderNeighborBottom' %}
{% endif %}

{% if position[1] in [2,5] %}
    {% set borderClass = borderClass ~ ' gameFieldBorderRight' %}
{% elseif position[1] in [3,6] %}
    {% set borderClass = borderClass ~ ' gameFieldBorderNeighborRight' %}
{% endif %}

<div class="{{ gameFieldCellClasses }} {{ borderClass }}" >
    {% set PositionTags = "data-row="~position[0]~" data-col="~position[1] %}
    {% if setNumber == 0 %}
        <input {{ PositionTags }} onclick="chooseValue(this)" class="btn btn-info" type="button" value="?" />
    {% else %}
        <input {{ PositionTags }} class="btn btn-default" disabled="disabled" type="button" value="{{ setNumber }}" />
    {% endif %}
</div>